@font-face {
    font-family: 'Kratky';
    src: url('subset-KratkyRegular.eot');
    src: url('subset-KratkyRegular.eot?#iefix') format('embedded-opentype'),
        url('subset-KratkyRegular.woff2') format('woff2'),
        url('subset-KratkyRegular.woff') format('woff'),
        url('subset-KratkyRegular.ttf') format('truetype'),
        url('subset-KratkyRegular.svg#KratkyRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.your-style {
    font-family: 'Kratky';
    font-weight: normal;
    font-style: normal;
}




/*----------------------
-------------------cursor
----------------------*/
@media only screen and (min-width: 800px) {
    .cursor {
        position: fixed;
        left: 0;
        top: 0;
        pointer-events: none;
    }

    .cursor--small {
        width: 5px;
        height: 5px;
        left: -2.5px;
        top: -2.5px;
        border-radius: 50%;
        z-index: 11000;
        background-color: black;
    }

    .cursor--canvas {
        width: 100vw;
        height: 100vh;
        z-index: 12000;
    }

    * {
        cursor: none;
    }
}

/*----------------------
-------------------general
----------------------*/
.loader {

    display: none;

}


.hidden {
    display: none;
}

body {
    background-color: #f6ece0;
}

.con {
    position: relative;
}

.link:hover {
    color: #ffc477;
    transition: color 0.2s;
}

.hover:hover {
    background-color: #ffc477;
    color: #ffc477;
    transition: color 0.2s;
}

*::selection {
    background-color: #ffc477;
    color: black;
    opacity: 1;
}

/*----------------------
-------------------header
----------------------*/

.inner {
    position: fixed;
}

.logo {
    position: absolute;
    top: 1vh;
    left: calc(50vw - 25px);
}

.logo img {
    width: 30px;
    position: absolute;
    top: 0px;
}

@media only screen and (min-width: 800px) {
    .logo:before {
        content: "";

        position: fixed;
        left: 80px;
        top: 40px;


        height: 1px;
        width: calc(50vw - 120px);

        background: black;
        opacity: 1;
    }

    .logo:after {
        content: "";

        position: fixed;
        right: 40px;
        top: 40px;


        height: 1px;
        width: calc(50vw - 80px);

        background: black;
        opacity: 1;
    }

    .line1 {
        position: fixed;
        right: 40px;
        top: 40px;


        height: calc(100vh - 80px);
        width: 1px;

        background: black;
        opacity: 1;
    }

    .line2 {
        position: fixed;
        left: 40px;
        bottom: 40px;



        height: calc(100vh - 110px);
        width: 1px;

        background: black;
        opacity: 1;
    }

    .line3 {
        position: fixed;
        left: 40px;
        bottom: 40px;



        height: 1px;
        width: calc(100vw - 80px);

        background: black;
        opacity: 1;
    }

    .line__center {
        z-index: 2;
        position: fixed;
        top: 43.5%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);



        height: calc(100vh - 290px);
        width: 1px;

        background: black;
        opacity: 1;
    }
}

/*----------------------
-------------------hamburger
----------------------*/

@media only screen and (min-width: 800px) {
    .mobile_only {
        display: none;
    }

    .ham_top {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 1px;
        width: 25px;
        background-color: black;
    }

    .ham_mid {
        position: absolute;
        left: 0px;
        top: 7px;
        height: 1px;
        width: 25px;

        background-color: black;
    }

    .ham_bot {
        position: absolute;
        left: 0px;
        top: 14px;
        height: 1px;
        width: 25px;

        background-color: black;
    }

    .hamburger {
        position: fixed;
        left: 40px;
        top: 40px;
        width: 25px;
        height: 25px;
    }

    .hamburger:hover > .ham_top {
        background: #ffc477;
    }

    .hamburger:hover > .ham_mid {
        background: #ffc477;
    }

    .hamburger:hover > .ham_bot {
        background: #ffc477;
    }
}

.ham_bot,
.ham_mid,
.ham_top {
    transition: bottom 0.075s ease,
        transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.active .ham_bot {
    top: 7px;
    transform: rotate(-45deg);
    transition: bottom 0.075s ease,
        transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.active .ham_mid {
    top: 7px;
    opacity: 0;
    transition: bottom 0.075s ease,
        transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.active .ham_top {
    top: 7px;
    transform: rotate(45deg);
    transition: bottom 0.075s ease,
        transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media only screen and (max-width: 800px) {

    .blotter__mob {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

    }



}


@media only screen and (min-width: 800px) {
    .blotter__mob {

        display: none;
    }


    .blotter {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    .blotter2 {
        bottom: 30vh;
        left: 70%;
        margin-right: -50%;
        opacity: 0.7;
    }

    .blotter_con {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    subhead {
        position: fixed;
        top: 70px;
        right: 70px;
        font-size: 1.2em;
        font-family: matrix-ii, serif;
        font-weight: 400;
        font-style: normal;
    }

    subhead a {
        margin-left: 15px;
    }




    .work h2 {
        font-family: matrix-ii, serif;
        font-weight: 900;
        font-style: normal;
        font-size: 8em;
        position: fixed;
        top: calc(50vh - 190px);
        left: 12%;
        z-index: 20;
        transition: color 0.5s;
        text-align: center;
    }



    .about h2 {
        font-family: matrix-ii, serif;
        font-weight: 900;
        font-style: normal;
        font-size: 8em;
        position: fixed;
        top: calc(50vh - 190px);
        right: 12%;
        z-index: 20;
        transition: color 0.5s;
        text-align: center;
    }
}

@media (max-width: 1400px) and (min-width: 1000px) {
    .work h2 {
        font-size: 6em;
        left: 12%;
        top: calc(50vh - 160px);
    }

    .about h2 {
        font-size: 6em;
        right: 12%;
        top: calc(50vh - 160px);
    }
}

@media (max-width: 1000px) and (min-width: 800px) {
    .work h2 {
        font-size: 4em;
        left: 14%;
        top: calc(50vh - 100px);
    }

    .about h2 {
        right: 14%;
        font-size: 4em;
        top: calc(50vh - 100px);
    }
}

.mission {
    font-family: matrix-ii, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2em;
    position: fixed;
    max-width: 500px;
    bottom: calc(40px + 5%);
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.call_to_action {
    font-family: matrix-ii;
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
    position: fixed;
    max-width: 500px;
    bottom: calc(65px + 5%);
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.call_to_action:hover {
    color: #ffc477;
}

@media only screen and (min-width: 800px) {
    /*----------------------
-------------------header hovers work
----------------------*/

    .hidden__nav__work {
        position: fixed;
        top: 0px;
        left: -50vw;
        transition: left 0.7s;
    }

    .work h2:hover ~ .work__background__color1 {
        position: fixed;
        top: 0px;
        left: 0px;
        transition: left 0.5s;
    }

    .work__background__color1 {
        background-color: #ffc477;
        height: 100vh;
        width: 45vw;
        z-index: 3;
    }

    .work h2:hover ~ .work__background__color2 {
        position: fixed;
        top: 0px;
        left: 0px;
        transition: left 0.5s;
        transition-delay: 0.1s;
    }

    .work h2:hover {
        color: #ffc477;
        transition: left 0.5s;
    }

    .work__background__color2 {
        transition-delay: 0.1s;

        background-color: #f6ece0;
        height: 100vh;
        width: 45vw;
        z-index: 3;
    }

    .work h2:hover ~ .work__background__photo {
        position: fixed;
        top: 0px;
        left: 0px;
        transition: left 0.5s;
        transition-delay: 0.2s;
        opacity: 1;
    }

    .work__background__photo {
        z-index: 3;

        height: 100vh;
        width: 45vw;
        background-position: center;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
        /* Resize the background image to cover the entire container */
        transition-delay: 0.2s;

        opacity: 0;
    }

    /*----------------------
-------------------header hovers about
----------------------*/

    .hidden__nav__about {
        position: fixed;
        top: 0px;
        right: -50vw;
        transition: right 0.7s;
        overflow-x: hidden;
    }

    .about h2:hover ~ .about__background__color1 {
        position: fixed;
        top: 0px;
        right: 0px;
        transition: right 0.5s;
    }

    .about__background__color1 {
        background-color: #ffc477;
        height: 100vh;
        width: 45vw;
        z-index: 3;
    }

    .about h2:hover ~ .about__background__color2 {
        position: fixed;
        top: 0px;
        right: 0px;
        transition: right 0.5s;
        transition-delay: 0.1s;
    }

    .about h2:hover {
        color: #ffc477;
        transition: right 0.5s;
    }

    .about__background__color2 {
        transition-delay: 0.1s;

        background-color: #f6ece0;
        height: 100vh;
        width: 45vw;
        z-index: 3;
    }

    .about h2:hover ~ .about__background__photo {
        position: fixed;
        top: 0px;
        right: 0px;
        transition: right 0.5s;
        transition-delay: 0.2s;
        opacity: 1;
    }

    .about__background__photo {
        z-index: 3;

        height: 100vh;
        width: 45vw;
        background-position: center;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
        /* Resize the background image to cover the entire container */
        transition-delay: 0.2s;

        opacity: 0;
    }
}

/*----------------------
-------------------mobile nav/ home
----------------------*/

@media only screen and (max-width: 800px) {
    .work h2 {
        font-size: 5em;
        position: fixed;
        font-family: matrix-ii, serif;
        font-weight: 900;
        font-style: normal;
        top: 25vh;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .about h2 {
        font-size: 5em;
        position: fixed;
        font-family: matrix-ii, serif;
        font-weight: 900;
        font-style: normal;
        bottom: 10vh;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .logo:before {
        content: "";

        position: fixed;
        left: 40px;
        top: 40px;



        height: 1px;
        width: calc(50vw - 80px);

        background: black;
        opacity: 1;
    }

    .logo:after {
        content: "";

        position: fixed;
        right: 40px;
        top: 40px;



        height: 1px;
        width: calc(50vw - 80px);

        background: black;
        opacity: 1;
    }

    .ham_top {
        position: absolute;
        bottom: 14px;

        height: 1px;
        width: 25px;
        background-color: black;
    }

    .ham_mid {
        position: absolute;

        bottom: 7px;
        height: 1px;
        width: 25px;

        background-color: black;
    }

    .ham_bot {
        position: absolute;
        bottom: 0px;
        height: 1px;
        width: 25px;

        background-color: black;
    }

    .hamburger {
        position: fixed;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        bottom: 40px;
        width: 25px;
        height: 25px;
    }

    .sub {
        display: none;
    }

    .mobile_hid {
        display: none;
    }

    .blotter {
        position: fixed;
        top: 50vh;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        z-index: -6;
        overflow-x: hidden;
    }
}



/*----------------------
------------------work selection
----------------------*/


.main__img1 {


    position: fixed;
    height: 400px;
    width: 65vw;
    background: black;
    top: 30%;
    right: 5%;


}


.main__img2 {

    position: fixed;
    height: 23vw;
    width: 15vw;
    background: red;
    top: 15%;
    right: 15%;
    position: fixed;



}


.main__headline {

    font-size: 5em;
    position: fixed;
    font-family: matrix-ii, serif;
    font-weight: 900;
    font-style: normal;
    position: fixed;


}

.main__info {


    position: fixed;


}

.main__more {

    font-size: 5em;
    position: fixed;
    font-family: matrix-ii, serif;
    font-weight: 900;
    font-style: normal;
    position: fixed;
    position: fixed;


}


.main__arrow {


    position: fixed;


}

.main__number1 {


    position: fixed;


}

.main__number2 {


    position: fixed;


}
